
<div class="mt-5 d-flex justify-content-center flex-wrap">
  <div class="d-flex text-center">
    <a routerLink="about" class="footer-link">About</a>
  </div>
  <div class="d-flex text-center">
    <a routerLink="privacypolicy" class="footer-link">Privacy Policy</a>
  </div>
  <div class="d-flex">
    <a routerLink="impressum" class="footer-link">Impressum</a>
  </div>
  <div class="d-flex">
    <a routerLink="disclaimer" class="footer-link">Disclaimer</a>
  </div>
  <div class="d-flex">
    <a routerLink="licence" class="footer-link">Licence</a>
  </div>
</div>
