[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"urllib3" = "*"
"bs4" = "*"
pymongo = "*"
nltk = "*"
django = "*"
django-cors-headers = "*"
djongo = "*"
googletrans = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-resize-image = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
