<div class="about-container">
  <app-header></app-header>
  <div id="description-container">
    <div class="hidden-on-start mb-4 p-3" id="about-text-0">You speak english and want to learn german???</div>
    <div class="hidden-on-start mt-4 p-3" id="about-text-1">Here is how it works:</div>
    <ul class="p-3" id="container-uls">
      <li class="hidden-on-start mb-2 mt-3" id="about-text-2">- Search Articles by name and category</li>
      <li class="hidden-on-start mb-2" id="about-text-3">- Hoover over word or click on it to see automatic translation</li> 
      <li class="hidden-on-start mb-2" id="about-text-4">- See automatic pictures of translated word</li> 
      <li class="hidden-on-start mb-2" id="about-text-5">- Listen to the texts to learn the pronounciation</li> 
    </ul>
    <div class="d-flex align-items-center">
      <img class="hidden-on-start logo-header" id="about-text-6" src="static/assets/images/logo.png" alt="">
      <button routerLink="privacypolicy" id ="about-text-7" type="button" class="hidden-on-start btn btn-warning ml-5">Lets get started</button>
    </div>
  
  </div>
  <hr class="horizontal-line mt-5">
</div>
